body {
    margin: 0;
    padding: 0;
    background-color: #c5e0ff;
    font-family: 'Baloo Chettan 2', cursive;

}

.container1 {
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
}

.container2 {
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
}

.container3 {
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
}

.maintitle {
    margin: auto;
    font-weight: 900;
    font-size: 45px;
    text-align: center;
}

.title1 {
    margin: auto;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}

.title2 {
    margin: auto;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}

.table1 {
    background-color: #d7eaff;
    text-align: left;
    width: 100%;
    border: solid 1px #c5e0ff;
    border-collapse: collapse;
}

.table2c {
    background-color: #d7eaff;
    text-align: left;
    width: 100%;
    border: solid 1px #c5e0ff;
    border-collapse: collapse;
}

.but1 {
    border-radius: 3px;
    display: inline-block;
    padding: 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #3493ff;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 15px;
    width: 120px;
    margin: 0 auto;
    display: block;
}

.but2 {
    border-radius: 3px;
    display: inline-block;
    padding: 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #3493ff;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 15px;
    width: 120px;
    margin: 0 auto;
    display: block;
}


